<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Crash Course</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">Blog Lawrence</a>
            <p>a net ninja sites</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs/create">blogs</a></li>
        </ul>
    </nav>
    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>
</body>
</html>